@charset "utf-8";
body {
    background:#E90000;
    text-align: left;
}
.sayfa {
    background-color: #E90000;
    height: 1550px;
    width: 1024px;
} 

.alt {
    height: 300px;
    width: 1024px;
    background-color: #EFEFEF;
    float: none;
    margin-top: 00px;
    color: #efefef;
    text-align: left;
}
.altmenu {
    background-color: #EFEFEF;
    height: 270px;
    width: 1024px;
    margin-top: 0px;
    font-family: Verdana, Geneva, sans-serif;
}
.alt2 {
    background-color: #7F7F7F;
    height: 100px;
    width: 1024px;
    float: right;
    margin-top: 0px;
    font-family: "MS Serif", "New York", serif;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    line-height: 2px;
}



.ortasol {
    float: left;
    height: auto;
    width: 1024px;
}

.banner {
    background-color: #FFF;
    height: 60px;
    width: 1000px;
    margin-top: 10px;
    padding: 15px;
    clip: rect(10px,auto,auto,auto);
    text-decoration: none;
    text-align: center;
}
.logo {
    background-image: url(../images/else.png);
    float: left;
    height: 67px;
    width: 150px;
    margin-right: 1px;
}
.menü {
    height: 60px;
    width: 900px;
    margin-left: 50px;
    clip: rect(auto,auto,auto,60px);
    text-decoration: none;
    list-style-type: none;
}
.orta {
    height: 400px;
    width: 1024px;
    background-image: url(../images/anasayfa.jpg);
    clip: rect(auto,auto,auto,10px);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.sol {
    height: 600px;
    width: 600px;
}
.resimsol {
    height: 67px;
    width: 150px;
    background-image: url(../images/else.png);
    margin: 30px;
}
.metin {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    color: #000;
    text-decoration: none;
    height: 400px;
    width: auto;
}

.ortasol {
    height:600px;
    width:1024px;
    margin-top:0px;
    background-color: #FFF;
    float: left;
}
.ktablo {
    float: left;
    height: 220px;
    width: 300px;
    margin-top: 50px;
    background-color: #D6D6D6;
    margin-left: 10px;
}


.sag {
    background-image: url(../images/görsel.png);
    float: right;
    height: 300px;
    width: 400px;
    margin-top: -500px;
    z-index: 1;
    margin-right: 10px;
}
.tavlo {
    font-family: Arial, Helvetica, sans-serif;
    color: #494954;
    font-size: 16px;
    font-weight: bold;
}

.sayfa .alt table tr td div {
    color: #7F7F7F;
    font-family: "MS Serif", "New York", serif;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.sayfa .banner .menü table tr td div strong {
    color: #7F7F7F;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
}
.sayfa .alt .altmenu .altmenu tr th div {
    color: #E90000;
    font-family: Verdana, Geneva, sans-serif;
}
.sayfa .ortasol .ktablo table tr th div {
    color: #FFF;
}
.orta1 {
    height: 400px;
    width: 1024px;
    background-image: url(../images/kurumsal.jpg);
}
.orta2 {
    height: 400px;
    width: 1024px;
    background-image: url(../images/elektrik.png);
}

.ortasag {
    background-color: #FFF;
    float: left;
    height: 500px;
    width: 700px;
    color: #E90000;
    text-align: left;
    font-size: 12px;
    margin-left: 10px;
}
.orta2 {
    background-image: url(../images/iletişim.jpg);
    height: 400px;
    width: 1024px;
}
.bune {
    color: #000;
}
.ortasag2 {
    height: 400px;
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.sayfa .ortasol .ortasag2 h2 {
    color: #E90000;
              font-size: 24px;
}
.map {
    float: left;
    height: 400px;
    width: 500px;
    margin-top: 20px;
}

